.dashboard {
	height: 100%;
	width: 100%;
	max-width: 100%;
	display: flex;
	position: relative;
	overflow: hidden;
}

.sidebar-container {
	flex: 1;
	min-width: 300px;
}

.board-container {
	flex: 6;
}

/*  board list can be hidden and expand on click */
@media screen and (max-width: 768px) {
	.dashboard {
		display: flex;
		flex-direction: column;
		overflow-y: scroll;
	}
}
