.nav {
	width: 100%;
	height: 90px;
	min-height: 70px;
	background: rgba(155, 151, 151, 0.25);
	/* position: fixed; */
	top: 0;
	position: relative;
}

.nav-btn-container {
	padding: 10px;
}

.nav button {
	height: 50px;
	width: 150px;
	margin-right: 10px;
}

#logout-btn {
	right: 12.5%;
}

@media screen and (max-width: 980px) {
	.nav button {
		left: 0;
		margin-left: auto;
		right: 0;
		margin-right: auto;
	}
}
